/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*SCHERMATA CON VH*/
.schermata{
    height: 100vh;
    background-color:cyan;
    position: relative;
}
/* COMMON */
body{
    font-family: 'Roboto', sans-serif;
}

/* MAIN */
main{
    height: 100%;
}

/* Bottoni superiori */
.sezione-bottoni-visuale{
    position:absolute;
    top: 0;
    right: 0;
    margin: 5px 3px;
}
.bottone{
    color: white;
    background-color: gray;
    border-radius: 6px;
    padding: 0.1em;
}
.contenitore{
    width: 90%;
    height: 80%;
    
    margin: 0 auto;
    position:relative;
    top: 30px;
}
/*Colonna*/
.colonna{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
/* Carta */
.carta{
    width: calc(100% / 7 - (70px / 7));
    height: calc(100%/5 - (50px / 5));

    background-image: url(https://picsum.photos/246/146);
    background-size: cover;
    background-position: center;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;

    position: relative;
    
}

/* Nome */
.nome{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 0.5em;
    position:absolute;
    bottom: 0;
    left:0;
}