/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*SCHERMATA CON VH*/
.schermata{
    height: 100vh;
    background-color: black;
    position: relative;
}
/* COMMON */
body{
    font-family: 'Roboto', sans-serif;
}

/* MAIN */
main{
    height: 100%;
}

/* Bottoni superiori */
.sezione-bottoni-visuale{
    position:absolute;
    top: 0;
    right: 0;
    margin: 5px 3px;
}
.bottone{
    color: white;
    background-color: gray;
    border-radius: 6px;
    padding: 0.1em;
}
.contenitore{
    width: 90%;
    height: 80%;
    
    margin: 0 auto;
    position:relative;
    top: 30px;
}
/*Colonna*/
.colonna{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
/* Carta */
.carta{
    width: calc(100% / 7 - (70px / 7));
    height: calc(100%/5 - (50px / 5));

    background-image: url(https://picsum.photos/246/146);
    background-size: cover;
    background-position: center;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;

    position: relative;
    
}

/* Nome */
.nome{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 0.5em;
    position:absolute;
    bottom: 0;
    left:0;
}

/* NAV */
nav{
    height: 10%;
    width: 100%;
    background-color: #222222; 
    color: white;
    position: absolute;
    bottom: 0;

    display: flex;
}
/* Sezioni bottoni nav*/
.sezione-bottoni-nav{
    height: 100%;
    display:flex ;
}
.sezione-bottoni-laterale{
    width: 30%;
}
.sezione-bottoni-centrale{
    width: 40%;
}
.bottone-nav{
    position: relative;
    width: calc(100%/8);
    color: white;
    background-color: rgba(0, 0, 0,0);
    border-style: none;
}

.icona-grande{
    font-size: 1.5rem;
    text-align: center;
}
.freccia{
    position: absolute;
    right: 0;
    top:40%;
}
.testo-bottone{
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
}
.icona-verde{
    color: green;
}
.bottone-chiusura{
    width: 40%;
    background-color: #4a4a4a;
    color: red;
    padding: 2em 1em;
    border-style: none;
}
.spostato-destra{
    justify-content: flex-end;
}